<div class="jumbotron">

	<left>
		<h3>About</h3>
<p> We love movies and this database is our library of movies. This database allows us to easily select a movie for our family movie nights. </p>
		<img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10537016_10204181375999615_5201682819977816017_n.jpg?oh=6e526a540df2489d59b3a5409e548714&oe=56AC0887">
		<br>

	</left>
</div>
