<div class="jumbotron">

	<center>
		<h1>Welcome to My Movie Database</h1>

		<img src="https://fitzgeraldgrant.files.wordpress.com/2012/02/my-delicious-library-movie-collection.jpg">
		<br>

	</center>
</div>